#home {
  background-color: rgb(0,0,0);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  a {
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 64px;
    text-transform: uppercase;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}
h2 {
  font-size: 16px;
  text-transform: uppercase;
}
