---
title: Design & Code Ressources
---

<div id="home">
  <div class="home-content">
    <h1 id="intro-text">Curated references <br>for designers and developers</h1>
    <ul>
      <% data.links.each do |link| %>
        <li>
          <h2><%= link.cat %></h2>
          <a href="<%= link.url %>" target="_blank"><%= link.name %></a>
        </li>

      <% end %>
    </ul>



  </div>
</div>
